<%= link_to "[< go back]", portfolios_path %>

<div class="containertry">
  <h1 class="manage" id="connectionsheader"> Manage Connections </h1>


  <h3>Connect to a new financial institution</h3>

  <%= simple_form_for @portfolio, :html=> { class: 'inputinstitutions' } do |f| %>
    <%= f.association :institution, collection: @institutions %>
    <%= f.submit "Add Connection", class: 'confirmbuttonpurple'%>
  <% end %>
</div>

  <%= link_to "[ cancel ]", dashboard_path %>
