
<h1> Manage Connections </h1>

<ul>
  <% @portfolios.each do |portfolio| %>
    <li> <%= portfolio.institution.name %> <%= link_to "show", portfolio_path(portfolio) %> <%= link_to "remove", "#" %></li>
  <% end %>
</ul>

<%= link_to "+ add new connection", "#" %>
<%= link_to "< go back", "#" %>
