
<%= link_to "[ < go back ]", "#" %>

<h1> Manage Connections </h1>

<ul>
  <% current_user.portfolios.each do |portfolio| %>
    <li> <%= portfolio.institution.name %> <%= link_to "[ > show ]", portfolio_path(portfolio) %> <%= link_to "[ x remove ]", portfolio_path(portfolio), method: :delete, data: {confirm: "Are you sure?"} %></li>
  <% end %>
</ul>

<%= link_to "[ + add new connection ]", institutions_path %>
<%= link_to "[ cancel ]", dashboard_path %>

