
<h1> <%= @portfolio.institution.name %> </h1>

<div>
  <div>
    <p> Your investments: </p>
    <p> <%= number_to_currency(@current_value) %> </p>
  </div>
  <div>
    <p> Performance: </p>
    <p> <%= number_to_currency(@performance_eur) %> </p>
  </div>
    <p> <%= @performance_percent %> % </p>
    <!-- <h4> Initial invest: <%= number_to_currency(@invest) %> </h4> -->
</div>

<h4> Investments: </h4>

    <ul>
    <% @portfolio.assets_by_name.each do |hash| %>
      <li>
        <%= hash[:name] %>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %> %
        | Performance: <%= hash[:performance].round(2) %> %
      </li>
    <% end %>
  </ul>

<h4> Sectors: </h4>

  <ul>
    <% @portfolio.industries_by_name.each do |hash| %>
      <li>
        <div>
        <%= hash[:name] %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %> %
        </div>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
      </li>
    <% end %>
  </ul>

<h4> Asset categories: </h4>

  <ul>
    <% @portfolio.categories_by_name.each do |hash| %>
      <li>
        <%= hash[:name] %>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %> %
      </li>
    <% end %>
  </ul>


<%= link_to "[ < go back ]", portfolios_path %>
<%= link_to "[ x remove portfolio ]", portfolio_path(@portfolio), method: :delete, data: {confirm: "Are you sure?"} %>


