
<div id="main">

<h1> <%= @portfolio.institution.name %> </h1>
<h4> Your investments: <%= @invest %> € </h4>
<h4> Current value: <%= @current_value %> € </h4>
<h4> Performance: <%= @performance_percent %> % , <%= @performance_eur %> € </h4>
<h4> Investments: </h4>
    <ul>
      <% @assets.each do |asset| %>
        <li> <%= asset.asset_name %>
          | Total current value: <%= @portfolio.total_current_specific_asset_value(asset.asset_name) %> €
          | Portfolio share: <%=(((@portfolio.total_current_specific_asset_value(asset.asset_name) / @current_value) * 100)).round(2) %> %
          | Performance <%= (((@portfolio.total_current_specific_asset_value(asset.asset_name) / @portfolio.total_initial_specific_asset_value(asset.asset_name)) * 100)-100).round(2) %> %
        </li>
      <% end %>
    </ul>

<h4> Industries: </h4>

  <ul>
    <% @industries.each do |industry| %>
        <li>
          <%= industry.name.capitalize %>
          | Total current value: <%= @portfolio.total_current_industry_value(industry) %> €
          | Portfolio share: <%= (((@portfolio.total_current_industry_value(industry) / @current_value) * 100)).round(2) %> %
        </li>
      <% end %>
  </ul>

<h4> Asset categories: </h4>

    <ul>
      <% @assets.each do |asset| %>
        <li> <%= asset.asset_category.capitalize %>
          | Total current value: <%= @portfolio.total_current_category_value(asset.asset_category) %> €
          | Portfolio share: <%=(((@portfolio.total_current_category_value(asset.asset_category) / @current_value) * 100)).round(2) %> %
        </li>
      <% end %>
    </ul>
    <ul>


<%= link_to "[ < go back ]", portfolios_path %>
<%= link_to "[ x remove portfolio ]", portfolio_path(@portfolio), method: :delete, data: {confirm: "Are you sure?"} %>
</div>


