
<div id="main">

<h1> <%= @portfolio.institution.name %> </h1>
<h4> Your investments: <%= number_to_currency(@invest) %> </h4>
<h4> Current value: <%= number_to_currency(@current_value) %> </h4>
<h4> Performance: <%= @performance_percent %> % , <%= number_to_currency(@performance_eur) %> </h4>
<h4> Investments: </h4>

    <ul>
    <% @portfolio.assets_by_name.each do |hash| %>
      <li>
        <%= hash[:name] %>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %> %
        | Performance: <%= hash[:performance].round(2) %> %
      </li>
    <% end %>
  </ul>

<h4> Sectors: </h4>

  <ul>
    <% @industries.uniq.each do |industry| %>
        <li>
          <%= industry.name.capitalize %>
          | Total current value: <%= @portfolio.total_current_industry_value(industry) %> €
          | Portfolio share: <%= (((@portfolio.total_current_industry_value(industry) / @current_value) * 100)).round(2) %> %
        </li>
      <% end %>
  </ul>

  <ul>
    <% @portfolio.industries_by_name.each do |hash| %>
      <li>
        <%= hash[:name] %>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %>
      </li>
    <% end %>
  </ul>

<h4> Asset categories: </h4>

    <ul>
      <% @portfolio.asset_categories.uniq.each do |asset_category| %>
        <li> <%= asset_category.capitalize %>
          | Total current value: <%= @portfolio.total_current_category_value(asset_category) %> €
          | Portfolio share: <%=(((@portfolio.total_current_category_value(asset_category) / @current_value) * 100)).round(2) %> %
        </li>
      <% end %>
    </ul>
    <ul>


<%= link_to "[ < go back ]", portfolios_path %>
<%= link_to "[ x remove portfolio ]", portfolio_path(@portfolio), method: :delete, data: {confirm: "Are you sure?"} %>
</div>


