
<div class="main">

<h1 class="portfolio-header"> <%= @portfolio.institution.name %> </h1>

<div class="dashboard-top">
  <div class="dashboard-box-1">
    <p class="header"> PORTFOLIO VALUE</p>
    <p class="value"> <%= number_to_currency(@current_value) %> </p>
  </div>
  <div class="dashboard-box-1">
    <p class="header"> PERFORMANCE </p>
    <p class="value"> <%= number_to_currency(@performance_eur) %> </p>
  </div class="dashboard-performance">
    <p class="performance pos-neg"> <%= @performance_percent %> % </p>
    <!-- <h4> Initial invest: <%= number_to_currency(@invest) %> </h4> -->
</div>

<div class="sectionheader">
  <h6 class="sectionheader1">INVESTMENTS</h6>
  <p class="sectionheader2">PERFORMANCE</p>
</div>

    <ul class="detailslist">
    <% @portfolio.assets_by_name.each do |hash| %>
      <li class="details">
        <div class="details2">
        <p class="detailsheader"> <%= hash[:name] %> </p>
        <p> <%= number_to_currency(hash[:portfolio_value]) %> </p>
        </div>
        <p class="pos-neg"> <%= hash[:performance].round(2) %> % </p>
        <!-- | Portfolio share: <%= hash[:portfolio_share].round(2) %> % -->

      </li>
    <% end %>
  </ul>

<div class="sectionheader">
<h6 class="sectionheader1"> SECTORS </h6>
<p class="sectionheader2"> PORTFOLIO SHARE </p>
</div>

  <ul class="detailslist">
    <% @portfolio.industries_by_name.each do |hash| %>
      <li class="details">
        <div class="details2">
          <p class="detailsheader"> <%= hash[:name] %> </p>
          <p> <%= number_to_currency(hash[:portfolio_value]) %> </p>
        </div>
          <p> <%= hash[:portfolio_share].round(2) %> % </p>
      </li>
    <% end %>
  </ul>


<div class="sectionheader">
<h6 class="sectionheader1"> ASSETS </h6>
<p class="sectionheader2"> PORTFOLIO SHARE </p>
</div>

  <ul class="detailslist">
    <% @portfolio.categories_by_name.each do |hash| %>
      <li class="details">
        <div class="details2">
        <p class="detailsheader"> <%= hash[:name] %> </p>
        <p> <%= number_to_currency(hash[:portfolio_value]) %> </p>
        </div>
        <p> <%= hash[:portfolio_share].round(2) %> % </p>
      </li>
    <% end %>
  </ul>

<!-- button> <%= link_to "[ x remove portfolio ]", portfolio_path(@portfolio), method: :delete, data: {confirm: "Are you sure?"} %> </button>
 -->
</div>
