<div id="main">

<%= link_to "[ < go back ]", portfolios_path %>

<h1> Your Dashboard </h1>

<h4> Your total investments: <%= number_to_currency(@initial_invest) %> </h4>
<h4> Current portfolio value: <%= number_to_currency(@current_value) %> </h4>
<h4> Performance: <%= @performance_in_percent %> % , <%= number_to_currency(@performance_in_eur)%> </h4>
<div class="tvwrapper">
  <div id="tv-chart" data-day="<%= @day_data.to_json %>"
                    data-week="<%= @week_data.to_json %>"
                    data-month="<%= @month_data.to_json %>"
                    data-year="<%= @year_data.to_json %>">
  </div>
</div>
<h4> Your assets: </h4>

  <ul>
    <% current_user.assets_by_name.each do |hash| %>
      <li>
        <%= hash[:name] %>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %> %
        | Performance: <%= hash[:performance].round(2) %> %
      </li>
    <% end %>
  </ul>

<h4> Sectors: </h4>

  <ul>
    <% current_user.industries_by_name.each do |hash| %>
      <li>
        <%= hash[:name] %>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %> %
      </li>
    <% end %>
  </ul>

<h4> Asset categories: </h4>

  <ul>
    <% current_user.categories_by_name.each do |hash| %>
      <li>
        <%= hash[:name] %>
        | Portfolio value: <%= number_to_currency(hash[:portfolio_value]) %>
        | Portfolio share: <%= hash[:portfolio_share].round(2) %> %
      </li>
    <% end %>
  </ul>

  <h4> Your portfolios: </h4>

  <ul>
  <% current_user.portfolios.each do |portfolio| %>
    <li> <%= link_to portfolio.institution.name, portfolio_path(portfolio) %></li>
  <% end %>
</ul>

<%= link_to "[ + add portfolio ]", institutions_path %>

</div>

