<%= link_to "[ < go back ]", portfolios_path %>

<h1> Your Dashboard </h1>

<h4> Your Investments: <%= @initial_invest %> € </h4>
<h4> Current value: <%= @current_value %> € </h4>
<h4> Performance: <%= @performance_in_percent %> % , <%= @performance_in_eur %> € </h4>
<h4> Investments: </h4>

  <ul>
    <% current_user.asset_names.uniq.each do |name| %>
      <li> <%= name %> <%= current_user.total_current_specific_asset_value(name) %> € </li>
    <% end %>
  </ul>

<h4> Industries: </h4>

  <ul>
    <% @industries.each do |industry| %>
        <li> <%= industry.name.capitalize %>
          <%= current_user.total_current_asset_value(industry) %> €
          <%= (((current_user.total_current_asset_value(industry) / @current_value) * 100)).round(2) %> %
        </li>
      <% end %>
  </ul>

<h4> Asset categories: </h4>

  <ul>
  <% categories = [] %>
   <% @assets.each do |asset| %>
      <% categories << asset.asset_category %>
      <% end %>
        <% categories.uniq.each do |category| %>
          <li> <%=  category.capitalize %> </li>
        <% end %>
  </ul>
