<%= link_to "[ < go back ]", portfolios_path %>

<h1> Your Dashboard </h1>

  <h3> Your Investments: <%= @initial_invest %> € </h3>

  <h3> Current value: <%= @current_value %> € </h3>

<h3> Performance: <%= @performance_in_percent %> % , <%= @performance_in_eur %> € </h3>

<h3> Investments: </h3>

  <ul>
    <% @assets.each do |asset| %>
        <li> <%= asset.asset_name %> </li>
      <% end %>
  </ul>

<h3> Industries: </h3>

    <% current_industry_value = 0 %>
    <% @assets.uniq.each do |asset| %>
      <% asset.acquisitions.each do |acquisition| %>
        <% asset.industry.name %>
      <% end %>
    <% end %>

  <ul>
    <% @industries.each do |industry| %>
        <li> <%= industry.name.capitalize %> </li>
      <% end %>
  </ul>



<h3> Asset categories: </h3>

  <ul>
  <% categories = [] %>
   <% @assets.each do |asset| %>
      <% categories << asset.asset_category %>
      <% end %>
        <% categories.uniq.each do |category| %>
          <li> <%=  category.capitalize %> </li>
        <% end %>
  </ul>
